/**************************************************************************
ELEMENTS > LINKS
***************************************************************************/

a {
  outline: 0;
  color: $white;
  text-decoration: none;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    color: $regent-st-blue;
  }

  &:focus {
    box-shadow: 0 2px 0 $azure-radiance;
    color: $white;
    transition: box-shadow ease-in-out 0s;
  }
}
