/**************************************************************************
UTILITIES > INLINE (THINGS THAT IMPACT INLINE ELEMENTS)
***************************************************************************/

.u-bold {
  font-weight: bold !important;
}

.u-normal {
  font-weight: normal !important;
}

.u-italic {
  font-style: italic !important;
}

.u-underline {
  text-decoration: underline !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}
