/* **************************************************************************
   SETTINGS > COLORS
   To get the color name: http://veli.ee/colorpedia/?c=354052
   ************************************************************************** */

// Black

$black: #000000;
$ebony-clay: #222c3c;
$ebony-clay-2: #273142;
$mirage: #1b2431;
$oxford-blue: #313d4f;
$woodsmoke: #171819;

// Blue

$azure-radiance: #0093ee;
$dodger-blue: #2da1f8;

// Green

$apple: #4ece3d;
$malachite: #1bb934;

// Grey

$nepal: #8dabc4;
$regent-st-blue: #a8c6df;

// Orange

$sunglow: #ffc82e;
$supernova: #faca00;

// Red

$cinnabar: #e44023;
$crimson: #e0102b;

// White

$athens-gray: #fafbfc;
$white: #ffffff;

// Social

$facebook: #3b5998;
$google: #db4437;
$messenger: #0084ff;
$twitter: #1da1f2;

// DATASETS

$mainColors: (
  black: $oxford-blue,
  blue: $azure-radiance,
  green: $malachite,
  red: $crimson,
  orange: $supernova,
  white: $white
);

$socialColors: (
  facebook: $facebook,
  google: $google,
  messenger: $messenger,
  twitter: $twitter
);

$statusColors: (
  error: $crimson,
  focus: $azure-radiance,
  success: $malachite
);
