/* **************************************************************************
   SETTINGS > COLORS
   To get the color name: http://veli.ee/colorpedia/?c=354052
   ************************************************************************** */

// Black
$black: #000000;
$mirage: #1b2431;

// White
$white: #ffffff;

// Social

$facebook: #3b5998;
$google: #db4437;
$messenger: #0084ff;
$twitter: #1da1f2;
