/* **************************************************************************
   SETTINGS > COLORS
   To get the color name: http://veli.ee/colorpedia/?c=354052
   ************************************************************************** */

// BLACK

$black: #000000;
$woodsmoke: #171819;
$mirage: #171e29;
$mirage2: #1b2431;
$ebony-clay: #222c3c;
$ebony-clay-2: #273142;
$rhino: #2c405a;
$oxford-blue: #313d4f;
$fiord: #45556e;

// BLUE

$azure-radiance: #0093ee;
$azure-radiance-2: #00aaff;
$curious-blue: #1991eb;
$dodger-blue: #2da1f8;
$lochmara: #0079c4;
$morning-glory: #98d4e0;
$tory-blue: #1166a5;

// GREEN

$limeade: #33ad00;
$apple: #4ece3d;
$sushi: #96bf47;

// GREY

$cadet-blue: #a2b1c0;
$dusty-gray: #979797;
$nepal: #8eacc5;
$nepal-2: #8dabc4;
$regent-st-blue: #a8c6df;

// ORANGE

$pumpkin: #fd7b1f;

// PURPLE

$portage: #ab7ef6;
$lavender: #bf8fe1;

// RED

$cinnabar: #e54124;
$crimson: #e0102b;
$radical-red: #ff4b64;

// TURQUOISE

$java: #26c1c9;

// WHITE

$aqua-haze: #eff3f6;
$athens-gray: #fafbfc;
$barley-white: #fff5cd;
$white: #ffffff;

// YELLOW

$confetti: #ebcd63;
$sunglow: #ffc02a;
$supernova: #faca00;
$sun: #ffb610;

// SOCIAL

$facebook: #3b5998;
$google: #db4437;
$messenger: #0084ff;
$shopify: #96bf47;
$twitter: #1da1f2;

/* **************************************************************************
   SETTINGS > COLORS > DATASETS
   ************************************************************************** */

$levelColors: (
  "description": $nepal,
  "error": $crimson,
  "info": $azure-radiance,
  "success": $sushi,
  "warning": $sun
);

$mainColors: (
  "black": $oxford-blue,
  "blue": $azure-radiance,
  "green": $sushi,
  "grey": $regent-st-blue,
  "orange": $sun,
  "purple": $portage,
  "red": $crimson,
  "turquoise": $java,
  "white": $white
);

$socialColors: (
  "facebook": $facebook,
  "google": $google,
  "messenger": $messenger,
  "shopify": $shopify,
  "twitter": $twitter
);

$statusColors: (
  "error": $crimson,
  "normal": $azure-radiance,
  "success": $sushi,
  "warning": $sunglow
);
