/* **************************************************************************
   LIBRARIES > HIGHLIGHTJS
   Based on https://github.com/highlightjs/highlight.js/blob/master/src/styles/atom-one-dark.css
   ************************************************************************** */

.hljs {
  display: block;
  overflow-x: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid $oxford-blue;
  border-radius: 4px;
  background: rgba($ebony-clay-2, 0.4);
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: $nepal;
}
