/**************************************************************************
ELEMENTS > HEADINGS
***************************************************************************/

a {
  color: $azure-radiance;
  text-decoration: none;
  transition: color ease-in-out 0.2s;
  font-family: "Heebo Medium";

  &:hover {
    color: $athens-gray;
  }
}
